/*
 * Theme Name: Huesoft Theme
 * Description: Do Developer của Huesoft thực hiện tháng 12 năm 2018!
 * Theme URI:
 * Version: 1.1
 * Theme Author: Huesoft
 * Textdomain:
 */

/*Phần title */
.hs-title-home {
    font-size: 35px;
    color: #a07200;
    padding: 5px 0;
    margin-bottom: 15px;
    font-weight: 800;
    line-height: 25px;
}
.hs-title .title-span:before {
    content: '';
    display: inline-block;
    background: url('lib/images/dl_title_left.png') no-repeat;
    height: 31px;
    width: 114px;
    margin-right: 24px;
}
.hs-title .title-span:after {
    content: '';
    display: inline-block;
    background: url('lib/images/dl_title_right.png') no-repeat;
    height: 31px;
    width: 114px;
    margin-left: 24px;
}
.hs-title-child {
    font-size: 30px;
    color: #6a5728;
    margin-bottom: 22px;
    font-weight: 700;
}
.hs-title-link {
    font-size: 25px;
    color: #303030;
    margin-bottom: 5px;
}
.hs-box-scale .card-body {
    padding: 26px 0 15px;
}
.hs-box-scale .card-footer {
    padding: 4px 0;
}

/*Dinh lang khung anh*/
.hs-item-image {
    position: relative;
    display: block;
    overflow: hidden;
}
.hs-item-image:before {
    content: '';
    position: absolute;
    z-index: 1;
    background: url('lib/images/boder_image_top.png') no-repeat;
    width: 104px;
    height: 102px;
}
.hs-item-image:after {
    content: '';
    position: absolute;
    z-index: 1;
    background: url('lib/images/boder_image_bot.png') no-repeat;
    width: 102px;
    height: 99px;
    bottom: 0;
    right: 0;
}
.hs-card-image a::before{
    padding-bottom: 60%;
}
.hs-card-avatar a::before{
    padding-bottom: 42.05%;
}
.hs-item-link .hs-link-scale {
    font-size: 22px;
    padding: 6px 30px;
    background: #aa9477;
    color: #fff;
}
.hs-item-link .hs-link-scale:hover {
    background-color: #a07200;
}
.hs-section-middle {padding-top: 20px;}
.hs-image-avatar {
    background: url('lib/images/background-hoatdong.JPG') no-repeat;
    background-size: cover;
}
.hs-title-action {
    font-size: 30px;
    margin-bottom: 20px;
}
.hs-des-action.hs-item-content {
    padding: 10px 0 20px;
    font-size: 18px;
}
.hs-section-middle .hs-item-link {
    padding-top: 20px;
}
.hs-item-link .hs-link-action {
    font-size: 25px;
    padding: 14px 41px;
    background: #a07200;
    color: #fff;
}
.hs-item-link .hs-link-action:hover {
    background: #aa9477;
}
.hs-positive {
    padding: 82px 69px 40px 100px;
    background-color: #e7daca;
}
.hs-section-middle-bottom .hs-item-image {
    max-height: 270px;
}
.hs-section-middle {padding-top: 20px;}
.hs-section-middle-bottom .hs-box .hs-des {
    padding-top: 8px;
}
.hs-section-middle-bottom .col-lg-5 .hs-item-content {
    padding: 30px 25px 30px 40px;
}
.hs-section-middle-bottom .col-lg-7 .hs-item-content {
    padding: 30px 40px 30px 75px;
}
.hs-section-middle-bottom .card-body h5.hs-title-link {
    font-size: 30px;
    color: #745918;
}
.hs-box-middle {
    background: #e7daca;
}
.hs-section-middle-bottom .card {
    border: none;
}
.hs-section-middle-bottom .card .card-body, .hs-section-middle-bottom .card .card-footer {
    background: #e7daca;
}
.hs-section-middle-bottom .card .card-body{
    padding-bottom: 20px;
}
.hs-section-middle-bottom .col-lg-5.card .card-footer {
    padding-left: 40px;
}
.hs-section-middle-bottom .col-lg-7.card .card-footer {
    padding-left: 75px;
}
.hs-section-middle-bottom .hs-link-action {
    padding: 9px 31px;
}
.hs-section-middle-bottom .hs-title-link {
    margin-bottom: 15px;
}
.hs-section-middle-bottom .hs-title-link a {
    color: #745918;
}
.hs-other-title {
    color: #6a5728;
}
.hs-about .hs-title-contact {
    color: #a07200;
}
.hs-about .hs-title-contact {
    color: #a07200;
}
.hs-about .hs-title {
    margin-bottom: 20px;
}





@media (max-width: 575px) {
    .hs-title-home {
        font-size: 22px;
        margin-bottom: 5px;
        font-weight: 800;
        line-height: 25px;
    }
    .hs-box-list{
        margin-top: 30px;
    }
    .hs-title-child {
        font-size: 20px;
        color: #6a5728;
        margin-bottom: 12px;
        font-weight: 700;
    }
    .hs-title .title-span:before {
        content: '';
        display: inline-block;
        background: url('lib/images/dl_title_left_mobile.png') no-repeat;
        height: 19px;
        width: 74px;
        margin-right: 8px;
    }
    .hs-title .title-span:after {
        content: '';
        display: inline-block;
        background: url('lib/images/dl_title_right_mobile.png') no-repeat;
        height: 19px;
        width: 74px;
        margin-left: 8px;
    }
    .hs-box-scale .card-body{
        padding: 10px 0;
    }
    .hs-box-item{
        margin-bottom: 26px;
    }
    .hs-item-summary p{
        margin-bottom: 0;
    }
    .hs-section-middle {
        margin-bottom: 24px;
    }

    /*Css mobile hoat dong*/
    .hs-positive {
        padding: 15px;
        background-color: #e7daca;
    }
    .hs-title-action {
        font-size: 22px;
        margin-bottom: 5px;
    }
    .hs-des-action.hs-item-content {
        padding: 5px 0 0px;
        font-size: 16px;
    }
    section-middle {
        margin-bottom: 20px;
    }

    /*Css mobile bang vang*/
    .hs-article-list .hs-title .title-span:before{
        background: none;
        width: 0;
        margin-right: 0;
    }
    .hs-article-list .hs-title .title-span:after{
        background: none;
        width: 0;
        margin-left: 0;
    }
    .hs-section-middle-bottom .hs-title .title-span:before{
        background: none;
        width: 0;
        margin-right: 0;
    }
    .hs-section-middle-bottom .hs-title .title-span:after{
        background: none;
        width: 0;
        margin-left: 0;
    }
    .hs-title-normal {
        font-size: 22px;
        margin-bottom: 0;
    }
    .hs-des-width{
        padding-left: 0;
        padding-right: 0;
    }
    .hs-des{
        margin-bottom: 26px;
    }
    .hs-section-middle-bottom .hs-item-content{
        padding: 5px 10px 10px !important;
    }
    .hs-section-middle-bottom .card .card-footer {
        padding-left: 10px !important;
    }
    .hs-section-middle-bottom .hs-title-link {
        margin-bottom: 10px;
    }
    .hs-section-middle-bottom .card {
        margin-bottom: 20px;
    }
}

@media (min-width: 576px) and (max-width: 991px){
    .hs-section-middle-bottom .card {
        margin-bottom: 35px;
    }
    .hs-section-middle-bottom .hs-item-image{
        max-height: 370px;
    }
    .hs-image-avatar {
        padding-bottom: 55%;
    }
    .hs-positive {
        padding: 40px;
    }
    .hs-title-action {
        margin-bottom: 6px;
    }
    .hs-section-middle {
        margin-bottom: 30px;
    }
    .hs-title-normal {
        margin-bottom: 10px;
    }
}

@media (min-width: 992px) and (max-width: 1140px){
    .hs-section-middle-bottom .hs-item-image {
        max-height: 240px;
    }
}