/*
 * Theme Name: Huesoft Theme
 * Description: Do Developer của Huesoft thực hiện tháng 12 năm 2018!
 * Theme URI: 
 * Version: 1.1
 * Theme Author: Huesoft
 * Textdomain: 
 */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('lib/fonts/lato-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    src: url('lib/fonts/lato-medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    src: url('lib/fonts/lato-semibold.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('lib/fonts/lato-bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    src: url('lib/fonts/lato-heavy.ttf') format('truetype');
}
body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Lato', Sans-serif;
}
.alignnone {
   margin: 5px 20px 20px 0;
}
img{
    max-width: 100%;
}
.aligncenter,
div.aligncenter {
   display: block;
   margin: 5px auto 5px auto;
}

.alignright {
   float:right;
   margin: 5px 0 20px 20px;
}

.alignleft {
   float: left;
   margin: 5px 20px 20px 0;
}

a img.alignright {
   float: right;
   margin: 5px 0 20px 20px;
}

a img.alignnone {
   margin: 5px 20px 20px 0;
}

a img.alignleft {
   float: left;
   margin: 5px 20px 20px 0;
}

a img.aligncenter {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.wp-caption {
   background: #e9e9e9;
   border: 1px solid #e9e9e9 ;
   max-width: 100%; /* Image does not overflow the content area */
   padding: 5px 5px 10px;
   text-align: center;
}

.wp-caption.alignnone {
   margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
   margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
   margin: 5px 0 20px 20px;
}

.wp-caption img {
   border: 0 none;
   height: auto;
   margin: 0;
   max-width: 100%;
   padding: 0;
   width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 8px;
    color: #135EB9;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
       white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1 ;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b ;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}
a:hover,a:focus{
    text-decoration: none;
    -webkit-transition: all ease-in-out 200ms;
    -moz-transition: all ease-in-out 200ms;
    -ms-transition: all ease-in-out 200ms;
    -o-transition: all ease-in-out 200ms;
    transition: all ease-in-out 200ms;
    color: #6a5728;
}
p{
    margin-bottom: 10px;
}
.hs-item-thumbnail a{
    position: relative;
    display: block;
    overflow: hidden;
}
.hs-item-thumbnail a:before{
    content: '';
    display: block;
    padding-bottom: 65%;
}
.hs-item-thumbnail a img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-transition: all ease-in-out 200ms;
    -moz-transition: all ease-in-out 200ms;
    -ms-transition: all ease-in-out 200ms;
    -o-transition: all ease-in-out 200ms;
    transition: all ease-in-out 200ms;
}
.hs-item-thumbnail a:hover img{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
/*header*/
.hs-header{
    padding-top: 18px;
    padding-bottom: 34px;
    background: url('lib/images/bg_header.png') no-repeat center;
    background-size: cover;
}

.hs-hotline .fa-phone{
    color: #ed4020;
}
.hs-hotline a{
    color: #454646;
}
.hs-lang li{
    display: inline-block;
}
.hs-lang .list-unstyled li a{
    text-indent: 9999px;
    display: block;
    width: 26px;
    height: 26px;
    margin-top: 10px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-left: 10px;
}
.hs-lang li.current-lang a {
    border: 2px solid #fff;
    width: 28px;
    height: 28px;
}
.hs-lang .list-unstyled li a:hover{
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

}
.hs-lang .list-unstyled li.lang-item-vi a{
    background: url("lib/images/vi.png") no-repeat center;
}
.hs-lang .list-unstyled li.lang-item-en a{
    background: url("lib/images/en.png") no-repeat center;
}
/*navbar*/
.hs-navbar{
    background: url("lib/images/bg_navbar.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 0;
    padding-bottom: 0;
}
.hs-navbar .navbar-nav>li>a.nav-link{
    color: #2b231d;
    font-weight: 800;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 12px;
    font-size: 14px;
}
.hs-slider .nextend-arrow-next{
    right: 46% !important;
}
.hs-slider .nextend-arrow-previous{
    left: 46% !important;
}
@media (min-width: 992px){
    /* menu cấp 1 */
    .hs-navbar ul li { position: relative;}
    /* menu cấp 2 */
    .hs-navbar ul ul {
        position: absolute;
        top: 60px; /* để hiệu ứng chạy lên 30px */
        left: -50px;
        transition: all ease-out 200ms; /* all tất cả các thuộc tính */
        -moz-transition: all ease-out 200ms;
        -webkit-transition: all ease-out 200ms;
        opacity: 0;
        padding: 5px 0;
        margin-top: 0;
        border: 0;
        background: rgba(255,255,255,0.3);
        border-radius: 0;
        right: -50px;
        text-align: center;
    }
    /*.hs-navbar ul ul li { width: 250px; }*/
    .hs-navbar ul ul li.dropdown-submenu > a:after{
        content: "\f0d7";
        font: normal normal normal 14px/1 FontAwesome;
        padding-left: 10px;
    }
    .hs-navbar ul ul ul.dropdown-menu{
        padding-top: 0;
    }
    /* menu cấp 3 */
    .hs-navbar ul ul ul li {width: 250px; margin: 1px 0 }
    .hs-navbar ul ul ul { position: absolute; top: 0; left: 250px; /* Khoảng cách này phía xa để nó chạy vào*/ }
    /*đóng mở menu*/
    .hs-navbar ul li:hover > ul { display: inline-block; top: 100%; opacity: 1; }
    .hs-navbar ul ul li:hover > ul { top: 0; left: 250px; opacity: 1; }
    .hs-navbar .navbar-nav .dropdown-menu li a{
        border-bottom: 1px solid #fffefe;
        -webkit-transition: all ease-out 0.1s;
        -moz-transition: all ease-out 0.1s;
        -o-transition: all ease-out 0.1s;
        transition: all ease-out 0.1s;
        color: #282723;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
    }
    .hs-navbar .navbar-nav .dropdown-menu li a:hover{
        color: #a07200;
    }
    .hs-navbar .navbar-nav .dropdown-menu li:last-child a{
        border-bottom: 0;
    }
    .hs-navbar .navbar-nav .dropdown-toggle::after{
        content: none;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .hs-navbar,
    .hs-navbar .container{
        padding-left: 0;
        padding-right: 0;
    }
    .hs-navbar .navbar-nav>li>a.nav-link,
    .hs-navbar .navbar-nav .dropdown-menu li a{
        font-size: 12px;
    }
}

@media (max-width: 991px) {
    .hs-navbar{
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .hs-navbar .container{
        position: relative;
    }
    .hs-navbar .navbar-nav > li > a.dropdown-toggle::after {
        float: right;
        margin-top: 10px;
    }
    .hs-navbar .navbar-nav>li>a.nav-link{
        padding-left: 0;
        padding-top: 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid #2b231d;
    }
    .hs-navbar .navbar-nav li:last-child a.nav-link{
        border-bottom: 0;
    }
    .hs-navbar .navbar-nav > li > .dropdown-menu{
        border: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        background: transparent;
    }
    .hs-navbar .navbar-nav ul li a{
        padding-left: 15px;
        text-transform: uppercase;
        color: #2b231d;
    }
    .hs-navbar .navbar-nav{
        margin-top: 15px;
    }
    .hs-navbar .navbar-toggler .fa-navicon:before{
        font-size: 28px;
        color: #2b231d;
    }
    .hs-navbar .navbar-toggler{
        border-color: #2b231d;
    }
}
/*footer*/
.hs-footer{
    background: url("lib/images/bg_footer.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 44px;
    padding-bottom: 44px;
}
.hs-footer h5{
    font-size: 16px;
    color: #1d1d1d;
    font-weight: 600;
}
.hs-info p{
    margin-bottom: 5px;
    color: #1d1d1d;
}
.terms-list{
    padding-left: 17px;
    color: #1d1d1d;
}
.terms-list li a{
    text-transform: uppercase;
    color: #1d1d1d;
    line-height: 30px;
    font-size: 14px;
    font-weight: 600;
}
.menu-list li a{
    font-weight: 400;
}
.terms-list li a:hover{
    color: #6a5728;
    padding-left: 10px;
}
.hs-follow{
    padding-top: 15px;
}
.hs-follow li{
    display: inline-block;
    padding-right: 13px;
}
.hs-follow li a{
    display: block;
    border-radius: 50%;
}
.hs-follow li a:hover{
    -webkit-box-shadow: 0px 2px 3px 0px #000;
    -moz-box-shadow: 0px 2px 3px 0px #000;
    box-shadow: 0px 2px 3px 0px #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.hs-reserved{
    line-height: 46px;
}
.hs-reserved a{
    color: #282723;
}
.hs-reserved p{
    margin-bottom: 0;
    color: #282723;
}
/*content*/
.hs-section-top{
    margin-top: 50px;
}
.hs-title-normal{
    font-size: 30px;
    color: #6a5728;
    margin-bottom: 22px;
    font-weight: 700;
}
.hs-title-normal a{color: #6a5728;}
.hs-title-normal a:hover{color: #a07200;}
.hs-des-width{
    max-width: 100%;
    width: 917px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.hs-des{
    margin-bottom: 45px;
}
.hs-box-list{
    margin-bottom: 40px;
}
.hs-box-scale .card-body{
    padding: 15px 0 10px;
}
.hs-box-scale .card-footer{
    padding: 15px 0 30px;
}
.hs-box-item{
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.hs-box-item .hs-bg-bluelight{
    background-color: #53b8e1;
}
.hs-item-body{
    padding: 30px;
}
.hs-item-body .hs-title-link a{
    color: #fff;
    font-size: 25px;
}
.hs-item-body .hs-item-summary{
    color: #fff;
    margin-top: 25px;
}
.hs-item-link{
    font-size: 18px;
    border-top: 0;
    background: transparent;
    padding-bottom: 30px;
}
.hs-item-link .hs-readmore{
    border: 1px solid transparent;
}
.hs-item-link .hs-link-intro{
    color: #1196cc;
    background-color: #fff;
}
.hs-item-link .hs-link-intro:hover{
    color: #fff;
    background-color: #1196cc;
    border: 1px solid #fff;
}
.hs-item-content .hs-title-link a{
    color: #303030;
    font-size: 22px;
    line-height: 36px;
    font-weight: bold;
}
.hs-item-content .hs-title-link a:hover{
    color: #6a5728;
}
.hs-item-content .hs-item-summary ul{
    padding-left: 0;
    list-style: none;
}
.hs-item-content .hs-item-summary ul li:before{
    content: '\2022';
    font-size: 20px;
    padding-right: 10px;
    color: #0081a4;
}
.hs-positive{
    padding: 80px;
    background-color: #e6f5fb;
}
.hs-image-avatar{
    position: relative;
    overflow: hidden;
    display: block;
    padding-bottom: 24%;
}
.hs-image-avatar img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hs-section-middle,
.hs-section-middle-bottom{
    margin-bottom: 50px;
}
/*gallery*/
.hs-box-gallery a{
    margin-bottom: 15px;
}
.hs-box-gallery .fa {
    position: absolute;
    right: 20px;
    bottom: 25px;
    font-size: 30px;
    color: #fff;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    z-index: 2;
}
.hs-box-gallery a:hover .fa{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.hs-box-gallery a::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all ease-in 0.2s;
    -moz-transition: all ease-in 0.2s;
    -o-transition: all ease-in 0.2s;
    transition: all ease-in 0.2s;
    background: rgba(76,53,11,0.29);
}
.hs-box-gallery a:hover::after{
    opacity: 1;
}
@media (min-width: 992px) {
    .hs-thumbnail-normal a:before{
        padding-bottom: 49%;
    }
    .hs-thumbnail-small a:before{
        padding-bottom: 102%;
    }
    .hs-thumbnail-large a:before{
        padding-bottom: 204%;
    }
}
.hs-pad-right{
    padding-right: 7.5px;
}
.hs-pad-left{
    padding-left: 7.5px;
}
.hs-padd-left{
    padding-left: 0;
}
.hs-article-list,
.hs-article-detail{
    margin-bottom: 30px;
}
.hs-article-list .hs-title{
    margin-bottom: 40px;
}
.hs-article-list .hs-box-item{
    margin-right: 0;
    margin-left: 0;
}
.box-image a .fa{
    position: absolute;
    top: 40%;
    left: 40%;
    border: 1px solid #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all ease-in 0.2s;
    -moz-transition: all ease-in 0.2s;
    -o-transition: all ease-in 0.2s;
    transition: all ease-in 0.2s;
    background: rgba(106,103,98,0.55);
    z-index: 2;
    font-size: 24px;
}
.library-item:hover .box-image a .fa{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.fancybox-title{
    text-align: center;
}
.box-image a:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(106,103,98,0.55);
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all ease-in 0.2s;
    -moz-transition: all ease-in 0.2s;
    -o-transition: all ease-in 0.2s;
    transition: all ease-in 0.2s;
}
.library-item:hover .box-image a:after{
    opacity: 1;
}
.box-image a img{
    -webkit-transition: all ease-in 0.2s;
    -moz-transition: all ease-in 0.2s;
    -o-transition: all ease-in 0.2s;
    transition: all ease-in 0.2s;
}
.library-item:hover .box-image a img{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.box-content .hs-title-link{
    margin-top: 15px;
}
.box-content .hs-title-link a{
    font-size: 22px;
}
.library-item:hover .box-content .hs-title-link a{
    color: #6a5728;
}
.hs-media-list{
    margin-bottom: 15px;
}
.hs-other-title{
    border-top: 2px solid #ccc;
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: 30px;
}
/*pagination*/
.wp-pagenavi{
    text-align: center;
    border-radius: 4px;
    margin-top: 15px;
}
.wp-pagenavi a:active{
    text-decoration: none;
}
.wp-pagenavi a{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 6px 12px;
}
.wp-pagenavi a.last, .wp-pagenavi a.nextpostslink:last-child{
    border-right: 1px solid #ddd;
}
.wp-pagenavi span.current:first-child, .wp-pagenavi a.previouspostslink:first-child, .wp-pagenavi a.first:first-child{
    border-radius: 5px 0 0 5px;
}
.wp-pagenavi a.last:last-child, .wp-pagenavi a.nextpostslink:last-child{
    border-radius: 0 5px 5px 0;
}
.wp-pagenavi span.current{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 6px 12px;
}
.wp-pagenavi span.current:last-child{
    border-right: 1px solid #ddd;
    border-radius: 0 5px 5px 0;
}
/*Hỏi đáp*/
.hs-title-question{
    margin-bottom: 30px;
    border-bottom: 2px solid #6a5728;
    padding-bottom: 5px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #6a5728;
}
.hs-list-qa{
    border-bottom: 1px dotted #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.hs-list-qa h3{
    line-height: 18px;
}
.hs-list-qa h3 a{
    font-size: 18px;
    color: #303030;
    font-weight: bold;
    display: block;
    line-height: 24px;
}
.hs-list-qa h3 a:hover{
    color: #6a5728;
    padding-left: 10px;
}
.hs-info-question h3{
    font-size: 20px;
    font-weight: bold;
}
.hs-info-question h4{
    font-size: 18px;
    font-weight: bold;
}
.btn-blue{
    border-radius: 0;
    padding: 5px 40px 8px;
    -webkit-transition: ease-in-out 200ms;
    -moz-transition: ease-in-out 200ms;
    -ms-transition: ease-in-out 200ms;
    -o-transition: ease-in-out 200ms;
    transition: ease-in-out 200ms;
    border: 1px solid transparent;
    color: #fff;
    background-color: #a07200;
    font-size: 16px;
    text-transform: uppercase;
}
.btn-blue:hover {
    background-color: #aa9477;
    cursor: pointer;
}
#divForm .form-group{
    margin-bottom: 1rem;
}
.hs-content-question{
    margin-bottom: 30px;
}
.more-link{
    display: none;
}
.hs-other-list .hs-item-content .hs-title-link a{
    font-size: 22px;
}
.hs-title-contact{
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #4b4a56;
}
.hs-title-request{
    margin-bottom: 30px;
}
.hs-title-request span{
    border-bottom: 2px solid #999999;
    padding-bottom: 5px;
    font-size: 22px;
    font-weight: bold;
}
.frmContact .form-control{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.frmContact .nf-field-element textarea{
    height: 120px;
}
.frmContact .nf-form-errors .nf-error-msg{
    display: none;
}
.frmContact .nf-field-container{
    margin-bottom: 10px;
}
.frmContact .nf-form-fields-required,.frmContact .nf-form-title h3{
    display: none;
}
.hs-content-contact{
    margin-bottom: 40px;
}
.hs-content-contact .fa{
    height: 40px;
    width: 40px;
    background: #a07200;
    color: #fff;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
}
.hs-content-contact a{
    color: #000;
}

@media (max-width: 991px) and (min-width: 768px) {
    .search-box-m .searchform{
        position: absolute;
        right: 0;
        width: 248px;
        top: -30px;
    }
    .hs-thumbnail-normal a:before{
        padding-bottom: 70.3%;
    }
    .hs-thumbnail-small a:before{
        padding-bottom: 102%;
    }
    .hs-thumbnail-large a:before{
        padding-bottom: 167.5%;
    }
}

@media (max-width: 991px) {
    .hs-config {
        margin-bottom: 15px;
    }
    .hs-lang .list-unstyled li a.hs-hotline-m{
        text-indent: 1px;
        border: 2px solid #2b231d;
        text-align: center;
        color: #2b231d;
    }
    .hs-lang .list-unstyled li a{
        margin-top: 0;
    }
    .hs-lang{
        position: absolute;
        right: 0;
        z-index: 1;
        top: 5px;
    }
}
@media (max-width: 767px) {
    .hs-image-avatar{
        padding-bottom: 60%;
    }
    .hs-positive{
        padding: 30px;
    }
    .hs-article-detail table{
        width: 700px !important;
        overflow-x: auto;
    }
    .hs-article-detail img{
        height: auto !important;
    }
    .hs-title{
        font-size: 22px;
        line-height: 33px;
    }
    .hs-item-body .hs-title-link a,
    .hs-item-content .hs-title-link a{
        font-size: 18px;
        line-height: 30px;
    }
    .hs-section-top{
        margin-top: 20px;
    }
    .hs-box-list{
        margin-bottom: 0;
    }
    .hs-box-scale .card-footer{
        padding-bottom: 15px;
    }
    .hs-section-bottom,
    .hs-article-list, .hs-article-detail,
    .hs-article-list .hs-title,
    .hs-des,
    .hs-section-middle{
        margin-bottom: 10px;
    }
    .hs-item-body{
        padding: 15px;
    }
    .hs-item-body .hs-item-summary{
        margin-top: 15px;
    }
    .hs-box-scale {
        margin-bottom: 8px;
    }
    .hs-box-gallery a .fa{
        font-size: 20px;
    }
    .hs-other-title{
        margin-bottom: 20px;
        font-size: 20px;
        margin-top: 20px;
        padding-top: 20px;
    }
    .hs-title-question{
        margin-bottom: 20px;
        font-size: 20px;
        padding-bottom: 5px;
    }
    .hs-title-contact{
        margin-bottom: 20px;
        font-size: 20px;
    }
    .hs-title-request span{
        font-size: 20px;
    }
    .hs-logo-footer{
        display: block;
        margin-bottom: 15px;
    }
    .terms-list{
        margin-bottom: 0;
    }
    .hs-footer{
        padding-top: 20px;
        padding-bottom: 0px;
    }
}
@media (max-width: 575px) {
    .hs-reserved{
        display: block !important;
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 28px;
    }
}
@media (max-width: 767px) and (min-width: 576px){
    .hs-box-list .card-group>.card,
    .hs-box-list .card-deck>.card{
        -ms-flex: 1 0 100%;
        flex: 1 0 100%;
        margin-bottom: 15px;
    }
    .hs-thumbnail-large a:before{
        padding-bottom: 45%;
    }
}